<!--<p>{{kcom | async }}</p>-->

<!--<p>{{state.state | json}}</p>-->

<div>
  <table class="table table-condensed">

    <tr>
      <th>Active</th>
      <td>{{ kcom.active }}</td>
    </tr>
    <tr>
      <th>RSSI</th>
      <td>{{ kcom.rssi }}</td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th>MCU reset</th>
      <td>{{kcom.mcuReset}}</td>
    </tr>
    <tr>
      <th>TRX reset</th>
      <td>{{kcom.trxReset}}</td>
    </tr>
    <tr>
      <th></th>
      <td></td>
    </tr>
    <tr>
      <th>BAT status</th>
      <td>{{kcom.batStatus}}</td>
    </tr>
    <tr>
      <th>DCDC status</th>
      <td>{{kcom.dcdcStatus}}</td>
    </tr>
    <tr>
      <th>EPS status</th>
      <td>{{kcom.epsStatus}}</td>
    </tr>
  </table>
</div>
<!--<p> Active {{ kcom.active}}</p>-->
